div {
   background-color: #4ea0ff;
   height: 140px;
   background-image: url(/img/pattern.png);
   background-size: 35%;
   background-position-x: 10%;
}

#logo{
    width: 20%;
    margin-top: 4%;
    margin-left: 10px;
}

.margin{
    margin: 0;
}

.blu{
    color: #21a9e5;
}

.didascalia{
   font-size: 12px; 
}

.giallo{
    background-color: yellow;
}

.bianco{
    color: white;
    background-color: #21a9e5;
}

.colonna1-2{
    width: 25%;
}

.colonna3{
    width: 50%;
}

.celeste{
    background-color: lightblue;
}

